In [4]:
import numpy as np
import pandas as pd

In [5]:
#Creating Series
ser = pd.Series(np.random.rand(11))

In [7]:
ser

0     0.019182
1     0.209411
2     0.115954
3     0.026542
4     0.771217
5     0.752642
6     0.861737
7     0.024740
8     0.406146
9     0.890768
10    0.707051
dtype: float64

In [8]:
#Type of the series
type(ser)

pandas.core.series.Series

In [9]:
#Know the Index
ser.index

RangeIndex(start=0, stop=11, step=1)

In [10]:
ser.head()

0    0.019182
1    0.209411
2    0.115954
3    0.026542
4    0.771217
dtype: float64

In [11]:
ser.tail()

6     0.861737
7     0.024740
8     0.406146
9     0.890768
10    0.707051
dtype: float64

In [5]:
#Created Data-Frame
df = pd.DataFrame(np.random.rand(100,8),index = np.arange(100))
print(df)

           0         1         2         3         4         5         6  \
0   0.035196  0.359791  0.944394  0.513750  0.623126  0.994198  0.639743
1   0.738657  0.629239  0.960634  0.697544  0.930300  0.172670  0.190871
2   0.559520  0.732323  0.183335  0.486010  0.040517  0.784529  0.583202
3   0.716315  0.726501  0.112489  0.239081  0.221137  0.775220  0.368442
4   0.244746  0.370207  0.289593  0.946998  0.836398  0.730373  0.100512
..       ...       ...       ...       ...       ...       ...       ...
95  0.233216  0.616330  0.090718  0.072620  0.946318  0.967567  0.592368
96  0.791197  0.005813  0.333281  0.530264  0.453856  0.656762  0.351427
97  0.569728  0.750470  0.529127  0.464825  0.709866  0.669520  0.448935
98  0.848665  0.570488  0.881716  0.493804  0.272238  0.194663  0.087538
99  0.903518  0.665904  0.784525  0.810240  0.751865  0.693126  0.563486

           7
0   0.089871
1   0.336146
2   0.143859
3   0.348521
4   0.310140
..       ...
95  0.505181
96  0.835844
97  0.736258
98  0.378776
99  0.693508

[100 rows x 8 columns]

In [6]:
#Data type of DF
type(df)

pandas.core.frame.DataFrame

In [7]:
#Column
df.columns

RangeIndex(start=0, stop=8, step=1)

In [8]:
 #Convert dataframe/series into array
df.to_numpy

<bound method DataFrame.to_numpy of            0         1         2         3         4         5         6  \
0   0.035196  0.359791  0.944394  0.513750  0.623126  0.994198  0.639743
1   0.738657  0.629239  0.960634  0.697544  0.930300  0.172670  0.190871
2   0.559520  0.732323  0.183335  0.486010  0.040517  0.784529  0.583202
3   0.716315  0.726501  0.112489  0.239081  0.221137  0.775220  0.368442
4   0.244746  0.370207  0.289593  0.946998  0.836398  0.730373  0.100512
..       ...       ...       ...       ...       ...       ...       ...
95  0.233216  0.616330  0.090718  0.072620  0.946318  0.967567  0.592368
96  0.791197  0.005813  0.333281  0.530264  0.453856  0.656762  0.351427
97  0.569728  0.750470  0.529127  0.464825  0.709866  0.669520  0.448935
98  0.848665  0.570488  0.881716  0.493804  0.272238  0.194663  0.087538
99  0.903518  0.665904  0.784525  0.810240  0.751865  0.693126  0.563486

           7
0   0.089871
1   0.336146
2   0.143859
3   0.348521
4   0.310140
..       ...
95  0.505181
96  0.835844
97  0.736258
98  0.378776
99  0.693508

[100 rows x 8 columns]>

In [9]:
#Create a series file from data-frame
df.to_csv('file-name.csv')

In [10]:
#Starting Records
df.head()

,0,1,2,3,4,5,6,7
0,0.035196,0.359791,0.944394,0.513750,0.623126,0.994198,0.639743,0.089871
1,0.738657,0.629239,0.960634,0.697544,0.930300,0.172670,0.190871,0.336146
2,0.559520,0.732323,0.183335,0.486010,0.040517,0.784529,0.583202,0.143859
3,0.716315,0.726501,0.112489,0.239081,0.221137,0.775220,0.368442,0.348521
4,0.244746,0.370207,0.289593,0.946998,0.836398,0.730373,0.100512,0.310140

In [11]:
#Ending Records
df.tail()

,0,1,2,3,4,5,6,7
95,0.233216,0.616330,0.090718,0.072620,0.946318,0.967567,0.592368,0.505181
96,0.791197,0.005813,0.333281,0.530264,0.453856,0.656762,0.351427,0.835844
97,0.569728,0.750470,0.529127,0.464825,0.709866,0.669520,0.448935,0.736258
98,0.848665,0.570488,0.881716,0.493804,0.272238,0.194663,0.087538,0.378776
99,0.903518,0.665904,0.784525,0.810240,0.751865,0.693126,0.563486,0.693508

In [12]:
#Reading the csv file
newdf = pd.read_csv('file-name.csv')
newdf

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,0.035196,0.359791,0.944394,0.513750,0.623126,0.994198,0.639743,0.089871
1,1,0.738657,0.629239,0.960634,0.697544,0.930300,0.172670,0.190871,0.336146
2,2,0.559520,0.732323,0.183335,0.486010,0.040517,0.784529,0.583202,0.143859
3,3,0.716315,0.726501,0.112489,0.239081,0.221137,0.775220,0.368442,0.348521
4,4,0.244746,0.370207,0.289593,0.946998,0.836398,0.730373,0.100512,0.310140
...,...,...,...,...,...,...,...,...,...
95,95,0.233216,0.616330,0.090718,0.072620,0.946318,0.967567,0.592368,0.505181
96,96,0.791197,0.005813,0.333281,0.530264,0.453856,0.656762,0.351427,0.835844
97,97,0.569728,0.750470,0.529127,0.464825,0.709866,0.669520,0.448935,0.736258
98,98,0.848665,0.570488,0.881716,0.493804,0.272238,0.194663,0.087538,0.378776
99,99,0.903518,0.665904,0.784525,0.810240,0.751865,0.693126,0.563486,0.693508

In [13]:
#Remove Index
df.to_csv('index_false.csv',index=False)

In [14]:
df.head()

,0,1,2,3,4,5,6,7
0,0.035196,0.359791,0.944394,0.513750,0.623126,0.994198,0.639743,0.089871
1,0.738657,0.629239,0.960634,0.697544,0.930300,0.172670,0.190871,0.336146
2,0.559520,0.732323,0.183335,0.486010,0.040517,0.784529,0.583202,0.143859
3,0.716315,0.726501,0.112489,0.239081,0.221137,0.775220,0.368442,0.348521
4,0.244746,0.370207,0.289593,0.946998,0.836398,0.730373,0.100512,0.310140

In [15]:
#For stastical computing
df.describe()

,0,1,2,3,4,5,6,7
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.558009,0.484892,0.519767,0.519834,0.501655,0.554190,0.486490,0.511100
std,0.278143,0.306112,0.294782,0.285878,0.307409,0.294200,0.279238,0.277803
min,0.002921,0.001121,0.018792,0.017484,0.019156,0.005182,0.016297,0.017923
25%,0.315417,0.201588,0.293220,0.278048,0.232477,0.344277,0.227273,0.298495
50%,0.612538,0.472050,0.475845,0.483409,0.479616,0.591523,0.521538,0.499479
75%,0.811854,0.733924,0.786632,0.800069,0.757432,0.793770,0.684650,0.731321
max,0.943444,0.987612,0.995312,0.991978,0.998243,0.994198,0.993816,0.997618

In [16]:
#Know value at a specific space
df.loc[0,2]

np.float64(0.9443944801622454)

In [18]:
#Changing the column name
df.columns = list('abcdefgh')
df

,a,b,c,d,e,f,g,h
0,0.035196,0.359791,0.944394,0.513750,0.623126,0.994198,0.639743,0.089871
1,0.738657,0.629239,0.960634,0.697544,0.930300,0.172670,0.190871,0.336146
2,0.559520,0.732323,0.183335,0.486010,0.040517,0.784529,0.583202,0.143859
3,0.716315,0.726501,0.112489,0.239081,0.221137,0.775220,0.368442,0.348521
4,0.244746,0.370207,0.289593,0.946998,0.836398,0.730373,0.100512,0.310140
...,...,...,...,...,...,...,...,...
95,0.233216,0.616330,0.090718,0.072620,0.946318,0.967567,0.592368,0.505181
96,0.791197,0.005813,0.333281,0.530264,0.453856,0.656762,0.351427,0.835844
97,0.569728,0.750470,0.529127,0.464825,0.709866,0.669520,0.448935,0.736258
98,0.848665,0.570488,0.881716,0.493804,0.272238,0.194663,0.087538,0.378776
99,0.903518,0.665904,0.784525,0.810240,0.751865,0.693126,0.563486,0.693508

In [19]:
#Loc works on the name of the row and column
df.loc[0,'c']

np.float64(0.9443944801622454)

In [21]:
#Delete Column
df.drop('a',axis=1)

           b         c         d         e         f         g         h
0   0.359791  0.944394  0.513750  0.623126  0.994198  0.639743  0.089871
1   0.629239  0.960634  0.697544  0.930300  0.172670  0.190871  0.336146
2   0.732323  0.183335  0.486010  0.040517  0.784529  0.583202  0.143859
3   0.726501  0.112489  0.239081  0.221137  0.775220  0.368442  0.348521
4   0.370207  0.289593  0.946998  0.836398  0.730373  0.100512  0.310140
..       ...       ...       ...       ...       ...       ...       ...
95  0.616330  0.090718  0.072620  0.946318  0.967567  0.592368  0.505181
96  0.005813  0.333281  0.530264  0.453856  0.656762  0.351427  0.835844
97  0.750470  0.529127  0.464825  0.709866  0.669520  0.448935  0.736258
98  0.570488  0.881716  0.493804  0.272238  0.194663  0.087538  0.378776
99  0.665904  0.784525  0.810240  0.751865  0.693126  0.563486  0.693508

[100 rows x 7 columns]

In [30]:
df

,a,b,c,d,e,f,g,h
1,0.738657,0.629239,0.960634,0.697544,0.930300,0.172670,0.190871,0.336146
2,0.559520,0.732323,0.183335,0.486010,0.040517,0.784529,0.583202,0.143859
3,0.716315,0.726501,0.112489,0.239081,0.221137,0.775220,0.368442,0.348521
4,0.244746,0.370207,0.289593,0.946998,0.836398,0.730373,0.100512,0.310140
5,0.353621,0.170053,0.460047,0.140573,0.428278,0.911220,0.107048,0.939171
...,...,...,...,...,...,...,...,...
95,0.233216,0.616330,0.090718,0.072620,0.946318,0.967567,0.592368,0.505181
96,0.791197,0.005813,0.333281,0.530264,0.453856,0.656762,0.351427,0.835844
97,0.569728,0.750470,0.529127,0.464825,0.709866,0.669520,0.448935,0.736258
98,0.848665,0.570488,0.881716,0.493804,0.272238,0.194663,0.087538,0.378776
99,0.903518,0.665904,0.784525,0.810240,0.751865,0.693126,0.563486,0.693508

In [25]:
#Delete Row
df = df.drop(0,axis=0)

In [26]:
df

,a,b,c,d,e,f,g,h
1,0.738657,0.629239,0.960634,0.697544,0.930300,0.172670,0.190871,0.336146
2,0.559520,0.732323,0.183335,0.486010,0.040517,0.784529,0.583202,0.143859
3,0.716315,0.726501,0.112489,0.239081,0.221137,0.775220,0.368442,0.348521
4,0.244746,0.370207,0.289593,0.946998,0.836398,0.730373,0.100512,0.310140
5,0.353621,0.170053,0.460047,0.140573,0.428278,0.911220,0.107048,0.939171
...,...,...,...,...,...,...,...,...
95,0.233216,0.616330,0.090718,0.072620,0.946318,0.967567,0.592368,0.505181
96,0.791197,0.005813,0.333281,0.530264,0.453856,0.656762,0.351427,0.835844
97,0.569728,0.750470,0.529127,0.464825,0.709866,0.669520,0.448935,0.736258
98,0.848665,0.570488,0.881716,0.493804,0.272238,0.194663,0.087538,0.378776
99,0.903518,0.665904,0.784525,0.810240,0.751865,0.693126,0.563486,0.693508

In [31]:
#iloc[works on the index]
df.iloc[1,4]

np.float64(0.0405172732870519)

In [33]:
df['c'][1]='Pritam'
df

,a,b,c,d,e,f,g,h
1,0.738657,0.629239,Pritam,0.697544,0.930300,0.172670,0.190871,0.336146
2,0.559520,0.732323,0.183335,0.486010,0.040517,0.784529,0.583202,0.143859
3,0.716315,0.726501,0.112489,0.239081,0.221137,0.775220,0.368442,0.348521
4,0.244746,0.370207,0.289593,0.946998,0.836398,0.730373,0.100512,0.310140
5,0.353621,0.170053,0.460047,0.140573,0.428278,0.911220,0.107048,0.939171
...,...,...,...,...,...,...,...,...
95,0.233216,0.616330,0.090718,0.072620,0.946318,0.967567,0.592368,0.505181
96,0.791197,0.005813,0.333281,0.530264,0.453856,0.656762,0.351427,0.835844
97,0.569728,0.750470,0.529127,0.464825,0.709866,0.669520,0.448935,0.736258
98,0.848665,0.570488,0.881716,0.493804,0.272238,0.194663,0.087538,0.378776
99,0.903518,0.665904,0.784525,0.810240,0.751865,0.693126,0.563486,0.693508

In [34]:
#Delete 
df.drop(['c','d'],axis=1,inplace=True)

In [35]:
df

           a         b         e         f         g         h
1   0.738657  0.629239  0.930300  0.172670  0.190871  0.336146
2   0.559520  0.732323  0.040517  0.784529  0.583202  0.143859
3   0.716315  0.726501  0.221137  0.775220  0.368442  0.348521
4   0.244746  0.370207  0.836398  0.730373  0.100512  0.310140
5   0.353621  0.170053  0.428278  0.911220  0.107048  0.939171
..       ...       ...       ...       ...       ...       ...
95  0.233216  0.616330  0.946318  0.967567  0.592368  0.505181
96  0.791197  0.005813  0.453856  0.656762  0.351427  0.835844
97  0.569728  0.750470  0.709866  0.669520  0.448935  0.736258
98  0.848665  0.570488  0.272238  0.194663  0.087538  0.378776
99  0.903518  0.665904  0.751865  0.693126  0.563486  0.693508

[99 rows x 6 columns]

In [36]:
df['f'].isnull()

1     False
2     False
3     False
4     False
5     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: f, Length: 99, dtype: bool

In [38]:
df.dropna()

           a         b         e         f         g         h
1   0.738657  0.629239  0.930300  0.172670  0.190871  0.336146
2   0.559520  0.732323  0.040517  0.784529  0.583202  0.143859
3   0.716315  0.726501  0.221137  0.775220  0.368442  0.348521
4   0.244746  0.370207  0.836398  0.730373  0.100512  0.310140
5   0.353621  0.170053  0.428278  0.911220  0.107048  0.939171
..       ...       ...       ...       ...       ...       ...
95  0.233216  0.616330  0.946318  0.967567  0.592368  0.505181
96  0.791197  0.005813  0.453856  0.656762  0.351427  0.835844
97  0.569728  0.750470  0.709866  0.669520  0.448935  0.736258
98  0.848665  0.570488  0.272238  0.194663  0.087538  0.378776
99  0.903518  0.665904  0.751865  0.693126  0.563486  0.693508

[99 rows x 6 columns]

In [47]:
dist={
    "name":["john","Bob","trudy"],
    "marks":[20,50,70],
    "sports":["cricket","hockey","volleyball"]
}

In [48]:
school = pd.DataFrame(dist)

In [49]:
school

    name  marks      sports
0   john     20     cricket
1    Bob     50      hockey
2  trudy     70  volleyball

In [51]:
school.to_csv('school.csv')

In [53]:
school.to_csv('school_index_false.csv',index=False)